<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="tests" data-provider-thread-count="2">
    <listeners>
        <listener class-name="org.eq.listners.Listners"></listener>
        <listener class-name="org.eq.listners.MethodInterceptor"></listener>
        <listener class-name="org.eq.listners.AnnotationTransformer"></listener>
    </listeners>
    <test verbose="2" preserve-order="false" name="EQ" >
        <classes>
           <!-- <class name="com.eq.test.LoginPageTests"/>-->
            <class name="com.eq.test.OrangeEQTests"/>
                <!--<class name="com.eq.test.HomePageTests"/>-->
        </classes>
        </test>
</suite>
